<div class="panel panel-default facet_limit blacklight-human_readable_type_sim premis-panel">
  <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#premis-agent_sim" aria-expanded="true">
    <h3 class="panel-title facet-field-heading">
      <a data-no-turbolink="true" href="#">PREMIS Agent</a>
    </h3>
  </div>
  <div id="premis-agent_sim" class="panel-collapse facet-content collapse in" aria-expanded="true" style>
    <div class="panel-body">
      <form id="premis_agent_filter" action="<%= preservation.events_url %>">
        <label for="agent">Agent</label>
        <input id="agent" name="agent" value="<%= params['agent'] %>" />
        <!-- TODO: This logic needs to be replicated for all filter forms. Better in a helper method? -->
        <% Rack::Utils.parse_query(request.query_string).except("agent").each do |param, val| %>
          <% # Sometimes `val` may be an array, but not always. So we just array-ify
             # it here to cover both cases. %>
          <% Array(val).each do |single_val| %>
            <input type="hidden" name="<%= param %>" value="<%= single_val %>" />
          <% end %>
        <% end %>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
