#!/usr/bin/env bash

FCREPO_USER=fcrepoUser
FCREPO_PASSWORD=fcrepoPass
FCREPO_URL=fcrepo:8984/rest
FCREPO_PATH=/app_dev

SOLR_PATH=solr:8983

MYSQL_HOST=mysql
MYSQL_DB=app_dev
MYSQL_USER=app
MYSQL_PASSWORD=mysqlPass

EXT_STORAGE_URI_HOST=
EXT_STORAGE_ENABLED=false
EXT_STORAGE_HOST=
EXT_STORAGE_SERVICE=

PHYDO_LDAP_HOST=
PHYDO_LDAP_TREE=
PHYDO_LDAP_ACCOUNT_OU=
PHYDO_LDAP_GROUP_OU=
PHYDO_LDAP_USER=
PHYDO_LDAP_PASS=

# Yaml chunk for role_map.yml
PHYDO_LDAP_GROUP_ROLES={admin: []}
